:root
{
    --putih : #FFFFFF;
    --ungu : #FFCCCC;
    --padding_custom : 10px;
    --kosong : 0;
    --border_custom : 1px solid #333333;
}
table
{
    width: 100%; 
    border-collapse:collapse;
}
th,td
{
    padding:var(--padding_custom); 
    border: var(--border_custom);

}
.bg_putih
{
    background-color: var(--putih);
}
.bg_ungu
{
    background-color: var(--ungu);
}